<p-button icon="pi pi-angle-left" (onClick)="goBack()"></p-button>
<div class="flex flex-column gap-2">
  <label htmlFor="username">Address</label>
  <input type="text" pInputText [(ngModel)]="business.name" />
</div>
<div class="flex flex-column gap-2">
  <label htmlFor="address">Name</label>
  <input type="text" pInputText [(ngModel)]="business.address" />
</div>
<div class="flex flex-column gap-2">
  <label htmlFor="phoneNumber">Phone Number</label>
  <input type="text" pInputText [(ngModel)]="business.phoneNumber" />
</div>
<p-button icon="pi pi-angle-left" (onClick)="submit()"></p-button>
