<div class="p-6 w-12 h-max scrollWindow">
  <p-button (onClick)="goBack()">Go Back</p-button>
  <div class="test">
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Name</label>
      <input type="text" pInputText [(ngModel)]="item.name" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Item Line Description</label>
      <input type="text" pInputText [(ngModel)]="item.itemLine.description" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Color</label>
      <input type="text" pInputText [(ngModel)]="item.color" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Item status</label>
      <input type="text" pInputText [(ngModel)]="item.itemStatus.status" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">PO Number</label>
      <input type="text" pInputText [(ngModel)]="item.purchaseOrder.purchaseOrderId" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Part Quantity</label>
      <input type="text" pInputText [(ngModel)]="item.partQuantity" />
    </div>

    <div class="flex flex-column gap-2">
      <label htmlFor="description">Item Description</label>
      <input type="text" pInputText [(ngModel)]="item.itemDescription" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Current Step Start</label>
      <input type="text" pInputText [(ngModel)]="item.currentStepStart" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Warning Trigger (in seconds)</label>
      <input type="text" pInputText [(ngModel)]="item.warningInSeconds" />
    </div>
    <div class="flex flex-column gap-2">
      <label htmlFor="description">Error Trigger (in seconds)</label>
      <input type="text" pInputText [(ngModel)]="item.errorInSeconds" />
    </div>
    <p-button id="button" (onClick)="submit()">Create!</p-button>
  </div>
</div>
