.wrap {
  margin: 20px;
}

.wrapper {
  margin: 20px;
  padding: 20px;
  display: flex;
}

.container {
  min-width: 10px;
  background-color: beige;
}
.container div {
  margin: 5px;
  padding: 10px;
}
.vamp_item {
  background-color: rgb(6, 255, 172);
}
.drak_item {
  background-color: rgb(255, 166, 0);
}
