<div class="item-info" [ngClass]="{'warning':warningTrigger, 'error': errorTrigger,'completed': completedTrigger}" (click)="itemClick($event)">
  <div style="display: flex; justify-content: space-between;align-items:flex-end">
    <span>Item ID: {{item.itemId}}</span>
<!--    <app-item-options [item]="item"></app-item-options>-->
  </div>
  <div>
    <span>Item Name: {{item.name}}</span>
  </div>
  <div>
    <span>PO Number: {{item.purchaseOrder.purchaseOrderId}}</span>
  </div>
  <div>
    <span class="justify-content-center align-content-center w-12" >
      Status:
      <p-dropdown [options]="statusOptions" [(ngModel)]="currentStatus" optionLabel="status" (onChange)="updateStatus()" autoWidth="false"></p-dropdown>
    </span>

<!--    <span>Status: {{item.status}}</span>-->
  </div>
  <div *ngIf = "!completedTrigger">
    <span>Current Time In Station: {{timeInStationMinutes}} min(s) {{timeInStationSeconds}} sec(s)</span>
  </div>
  <div *ngIf = "completedTrigger">
    <span>Time To Complete: {{timeInStationMinutes}} min(s) {{timeInStationSeconds}} sec(s)</span>
  </div>
  <div>
    <span>Quantity of parts: {{item.partQuantity}}</span>
  </div>
  <div>
    <span>Item Description: {{item.itemDescription}}</span>
  </div>
  <div>
    <span>Product Line: {{item.itemLine.description}}</span>
  </div>
  <div>
    <span>Item Color: {{item.color}}</span>
  </div>
</div>
